<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-livraison-cl-heading"
        data-cy="LivraisonClCreateUpdateHeading"
        jhiTranslate="myCrMv1App.livraisonCl.home.createOrEditLabel"
      >
        Create or edit a Livraison Cl
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.livraisonCl.bonLivIdentCl" for="field_bonLivIdentCl"
            >Bon Liv Ident Cl</label
          >
          <input
            type="number"
            class="form-control"
            name="bonLivIdentCl"
            id="field_bonLivIdentCl"
            data-cy="bonLivIdentCl"
            formControlName="bonLivIdentCl"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.livraisonCl.livDateCl" for="field_livDateCl">Liv Date Cl</label>
          <div class="input-group">
            <input
              id="field_livDateCl"
              data-cy="livDateCl"
              type="text"
              class="form-control"
              name="livDateCl"
              ngbDatepicker
              #livDateClDp="ngbDatepicker"
              formControlName="livDateCl"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="livDateClDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.livraisonCl.livDateUpdateCl" for="field_livDateUpdateCl"
            >Liv Date Update Cl</label
          >
          <div class="input-group">
            <input
              id="field_livDateUpdateCl"
              data-cy="livDateUpdateCl"
              type="text"
              class="form-control"
              name="livDateUpdateCl"
              ngbDatepicker
              #livDateUpdateClDp="ngbDatepicker"
              formControlName="livDateUpdateCl"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="livDateUpdateClDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.livraisonCl.livDateEffetCl" for="field_livDateEffetCl"
            >Liv Date Effet Cl</label
          >
          <div class="input-group">
            <input
              id="field_livDateEffetCl"
              data-cy="livDateEffetCl"
              type="text"
              class="form-control"
              name="livDateEffetCl"
              ngbDatepicker
              #livDateEffetClDp="ngbDatepicker"
              formControlName="livDateEffetCl"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="livDateEffetClDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.livraisonCl.bonLivTotalCl" for="field_bonLivTotalCl"
            >Bon Liv Total Cl</label
          >
          <input
            type="number"
            class="form-control"
            name="bonLivTotalCl"
            id="field_bonLivTotalCl"
            data-cy="bonLivTotalCl"
            formControlName="bonLivTotalCl"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
