<div>
  <h2 id="page-heading" data-cy="ClientHeading">
    <span jhiTranslate="myCrMv1App.client.home.title">Clients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myCrMv1App.client.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-client"
        [routerLink]="['/client/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myCrMv1App.client.home.createLabel"> Create a new Client </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="clients?.length === 0">
    <span jhiTranslate="myCrMv1App.client.home.notFound">No clients found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="clients && clients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="clIdent">
            <span jhiTranslate="myCrMv1App.client.clIdent">Cl Ident</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clRaisonSocial">
            <span jhiTranslate="myCrMv1App.client.clRaisonSocial">Cl Raison Social</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clAdresse">
            <span jhiTranslate="myCrMv1App.client.clAdresse">Cl Adresse</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clCodePostal">
            <span jhiTranslate="myCrMv1App.client.clCodePostal">Cl Code Postal</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clVille">
            <span jhiTranslate="myCrMv1App.client.clVille">Cl Ville</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clCountry">
            <span jhiTranslate="myCrMv1App.client.clCountry">Cl Country</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clEmail">
            <span jhiTranslate="myCrMv1App.client.clEmail">Cl Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clNumeroMobile">
            <span jhiTranslate="myCrMv1App.client.clNumeroMobile">Cl Numero Mobile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clNumeroFax">
            <span jhiTranslate="myCrMv1App.client.clNumeroFax">Cl Numero Fax</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clNumeroFixe">
            <span jhiTranslate="myCrMv1App.client.clNumeroFixe">Cl Numero Fixe</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clDateCreation">
            <span jhiTranslate="myCrMv1App.client.clDateCreation">Cl Date Creation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clDateUpdate">
            <span jhiTranslate="myCrMv1App.client.clDateUpdate">Cl Date Update</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clStatus">
            <span jhiTranslate="myCrMv1App.client.clStatus">Cl Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="clNumeroSiret">
            <span jhiTranslate="myCrMv1App.client.clNumeroSiret">Cl Numero Siret</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="civilitecl.id">
            <span jhiTranslate="myCrMv1App.client.civilitecl">Civilitecl</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let client of clients; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/client', client.id, 'view']">{{ client.id }}</a>
          </td>
          <td>{{ client.clIdent }}</td>
          <td>{{ client.clRaisonSocial }}</td>
          <td>{{ client.clAdresse }}</td>
          <td>{{ client.clCodePostal }}</td>
          <td>{{ client.clVille }}</td>
          <td>{{ client.clCountry }}</td>
          <td>{{ client.clEmail }}</td>
          <td>{{ client.clNumeroMobile }}</td>
          <td>{{ client.clNumeroFax }}</td>
          <td>{{ client.clNumeroFixe }}</td>
          <td>{{ client.clDateCreation | formatMediumDate }}</td>
          <td>{{ client.clDateUpdate | formatMediumDate }}</td>
          <td>{{ client.clStatus }}</td>
          <td>{{ client.clNumeroSiret }}</td>
          <td>
            <div *ngIf="client.civilitecl">
              <a [routerLink]="['/civilite-client', client.civilitecl?.id, 'view']">{{ client.civilitecl?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/client', client.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/client', client.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(client)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
