<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="uniteArticle">
      <h2 data-cy="uniteArticleDetailsHeading"><span jhiTranslate="myCrMv1App.uniteArticle.detail.title">Unite Article</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ uniteArticle.id }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.uniteArticle.uniteCode">Unite Code</span></dt>
        <dd>
          <span>{{ uniteArticle.uniteCode }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.uniteArticle.uniteLibelle">Unite Libelle</span></dt>
        <dd>
          <span>{{ uniteArticle.uniteLibelle }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.uniteArticle.uniteOption">Unite Option</span></dt>
        <dd>
          <span>{{ uniteArticle.uniteOption }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/unite-article', uniteArticle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
