<div>
  <h2 id="page-heading" data-cy="LivraisonFrHeading">
    <span jhiTranslate="myCrMv1App.livraisonFr.home.title">Livraison Frs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myCrMv1App.livraisonFr.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-livraison-fr"
        [routerLink]="['/livraison-fr/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myCrMv1App.livraisonFr.home.createLabel"> Create a new Livraison Fr </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="livraisonFrs?.length === 0">
    <span jhiTranslate="myCrMv1App.livraisonFr.home.notFound">No livraisonFrs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="livraisonFrs && livraisonFrs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.livraisonFr.bonLivIdent">Bon Liv Ident</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.livraisonFr.livFrDate">Liv Fr Date</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.livraisonFr.livFrDateUpdate">Liv Fr Date Update</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.livraisonFr.livDateEffet">Liv Date Effet</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.livraisonFr.bonLivTotal">Bon Liv Total</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livraisonFr of livraisonFrs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/livraison-fr', livraisonFr.id, 'view']">{{ livraisonFr.id }}</a>
          </td>
          <td>{{ livraisonFr.bonLivIdent }}</td>
          <td>{{ livraisonFr.livFrDate | formatMediumDate }}</td>
          <td>{{ livraisonFr.livFrDateUpdate | formatMediumDate }}</td>
          <td>{{ livraisonFr.livDateEffet | formatMediumDate }}</td>
          <td>{{ livraisonFr.bonLivTotal }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/livraison-fr', livraisonFr.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/livraison-fr', livraisonFr.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(livraisonFr)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
