<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-contact-fournisseur-heading"
        data-cy="ContactFournisseurCreateUpdateHeading"
        jhiTranslate="myCrMv1App.contactFournisseur.home.createOrEditLabel"
      >
        Create or edit a Contact Fournisseur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.contactFournisseur.contactFrName" for="field_contactFrName"
            >Contact Fr Name</label
          >
          <input
            type="text"
            class="form-control"
            name="contactFrName"
            id="field_contactFrName"
            data-cy="contactFrName"
            formControlName="contactFrName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.contactFournisseur.contactfrPrenom" for="field_contactfrPrenom"
            >Contactfr Prenom</label
          >
          <input
            type="text"
            class="form-control"
            name="contactfrPrenom"
            id="field_contactfrPrenom"
            data-cy="contactfrPrenom"
            formControlName="contactfrPrenom"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.contactFournisseur.contactFrEmail" for="field_contactFrEmail"
            >Contact Fr Email</label
          >
          <input
            type="text"
            class="form-control"
            name="contactFrEmail"
            id="field_contactFrEmail"
            data-cy="contactFrEmail"
            formControlName="contactFrEmail"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="myCrMv1App.contactFournisseur.contactFrMobilePhone"
            for="field_contactFrMobilePhone"
            >Contact Fr Mobile Phone</label
          >
          <input
            type="text"
            class="form-control"
            name="contactFrMobilePhone"
            id="field_contactFrMobilePhone"
            data-cy="contactFrMobilePhone"
            formControlName="contactFrMobilePhone"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.contactFournisseur.contactFrStatus" for="field_contactFrStatus"
            >Contact Fr Status</label
          >
          <input
            type="text"
            class="form-control"
            name="contactFrStatus"
            id="field_contactFrStatus"
            data-cy="contactFrStatus"
            formControlName="contactFrStatus"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.contactFournisseur.fournisseur" for="field_fournisseur"
            >Fournisseur</label
          >
          <select class="form-control" id="field_fournisseur" data-cy="fournisseur" name="fournisseur" formControlName="fournisseur">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                fournisseurOption.id === editForm.get('fournisseur')!.value?.id ? editForm.get('fournisseur')!.value : fournisseurOption
              "
              *ngFor="let fournisseurOption of fournisseursSharedCollection; trackBy: trackFournisseurById"
            >
              {{ fournisseurOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
