<div>
  <h2 id="page-heading" data-cy="LigneCmdClientHeading">
    <span jhiTranslate="myCrMv1App.ligneCmdClient.home.title">Ligne Cmd Clients</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myCrMv1App.ligneCmdClient.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ligne-cmd-client"
        [routerLink]="['/ligne-cmd-client/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myCrMv1App.ligneCmdClient.home.createLabel"> Create a new Ligne Cmd Client </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ligneCmdClients?.length === 0">
    <span jhiTranslate="myCrMv1App.ligneCmdClient.home.notFound">No ligneCmdClients found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ligneCmdClients && ligneCmdClients.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.ligneCmdClient.cmdQnCl">Cmd Qn Cl</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.ligneCmdClient.cmdNmPiecesCl">Cmd Nm Pieces Cl</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.ligneCmdClient.commandeClient">Commande Client</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ligneCmdClient of ligneCmdClients; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ligne-cmd-client', ligneCmdClient.id, 'view']">{{ ligneCmdClient.id }}</a>
          </td>
          <td>{{ ligneCmdClient.cmdQnCl }}</td>
          <td>{{ ligneCmdClient.cmdNmPiecesCl }}</td>
          <td>
            <div *ngIf="ligneCmdClient.commandeClient">
              <a [routerLink]="['/commande-client', ligneCmdClient.commandeClient?.id, 'view']">{{ ligneCmdClient.commandeClient?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ligne-cmd-client', ligneCmdClient.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ligne-cmd-client', ligneCmdClient.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(ligneCmdClient)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
