<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="contactFournisseur">
      <h2 data-cy="contactFournisseurDetailsHeading">
        <span jhiTranslate="myCrMv1App.contactFournisseur.detail.title">Contact Fournisseur</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ contactFournisseur.id }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.contactFournisseur.contactFrName">Contact Fr Name</span></dt>
        <dd>
          <span>{{ contactFournisseur.contactFrName }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.contactFournisseur.contactfrPrenom">Contactfr Prenom</span></dt>
        <dd>
          <span>{{ contactFournisseur.contactfrPrenom }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.contactFournisseur.contactFrEmail">Contact Fr Email</span></dt>
        <dd>
          <span>{{ contactFournisseur.contactFrEmail }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.contactFournisseur.contactFrMobilePhone">Contact Fr Mobile Phone</span></dt>
        <dd>
          <span>{{ contactFournisseur.contactFrMobilePhone }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.contactFournisseur.contactFrStatus">Contact Fr Status</span></dt>
        <dd>
          <span>{{ contactFournisseur.contactFrStatus }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.contactFournisseur.fournisseur">Fournisseur</span></dt>
        <dd>
          <div *ngIf="contactFournisseur.fournisseur">
            <a [routerLink]="['/fournisseur', contactFournisseur.fournisseur?.id, 'view']">{{ contactFournisseur.fournisseur?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/contact-fournisseur', contactFournisseur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
