<div>
  <h2 id="page-heading" data-cy="UniteArticleHeading">
    <span jhiTranslate="myCrMv1App.uniteArticle.home.title">Unite Articles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="myCrMv1App.uniteArticle.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-unite-article"
        [routerLink]="['/unite-article/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="myCrMv1App.uniteArticle.home.createLabel"> Create a new Unite Article </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="uniteArticles?.length === 0">
    <span jhiTranslate="myCrMv1App.uniteArticle.home.notFound">No uniteArticles found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="uniteArticles && uniteArticles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.uniteArticle.uniteCode">Unite Code</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.uniteArticle.uniteLibelle">Unite Libelle</span></th>
          <th scope="col"><span jhiTranslate="myCrMv1App.uniteArticle.uniteOption">Unite Option</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let uniteArticle of uniteArticles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/unite-article', uniteArticle.id, 'view']">{{ uniteArticle.id }}</a>
          </td>
          <td>{{ uniteArticle.uniteCode }}</td>
          <td>{{ uniteArticle.uniteLibelle }}</td>
          <td>{{ uniteArticle.uniteOption }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/unite-article', uniteArticle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/unite-article', uniteArticle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(uniteArticle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
