<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ligne-cmd-client-heading"
        data-cy="LigneCmdClientCreateUpdateHeading"
        jhiTranslate="myCrMv1App.ligneCmdClient.home.createOrEditLabel"
      >
        Create or edit a Ligne Cmd Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.ligneCmdClient.cmdQnCl" for="field_cmdQnCl">Cmd Qn Cl</label>
          <input type="number" class="form-control" name="cmdQnCl" id="field_cmdQnCl" data-cy="cmdQnCl" formControlName="cmdQnCl" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.ligneCmdClient.cmdNmPiecesCl" for="field_cmdNmPiecesCl"
            >Cmd Nm Pieces Cl</label
          >
          <input
            type="number"
            class="form-control"
            name="cmdNmPiecesCl"
            id="field_cmdNmPiecesCl"
            data-cy="cmdNmPiecesCl"
            formControlName="cmdNmPiecesCl"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.ligneCmdClient.commandeClient" for="field_commandeClient"
            >Commande Client</label
          >
          <select
            class="form-control"
            id="field_commandeClient"
            data-cy="commandeClient"
            name="commandeClient"
            formControlName="commandeClient"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                commandeClientOption.id === editForm.get('commandeClient')!.value?.id
                  ? editForm.get('commandeClient')!.value
                  : commandeClientOption
              "
              *ngFor="let commandeClientOption of commandeClientsSharedCollection; trackBy: trackCommandeClientById"
            >
              {{ commandeClientOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
