<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="ligneLivClient">
      <h2 data-cy="ligneLivClientDetailsHeading"><span jhiTranslate="myCrMv1App.ligneLivClient.detail.title">Ligne Liv Client</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ligneLivClient.id }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.ligneLivClient.livQuantiteCl">Liv Quantite Cl</span></dt>
        <dd>
          <span>{{ ligneLivClient.livQuantiteCl }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.ligneLivClient.livNmPiecesCl">Liv Nm Pieces Cl</span></dt>
        <dd>
          <span>{{ ligneLivClient.livNmPiecesCl }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.ligneLivClient.livTotalPrixCl">Liv Total Prix Cl</span></dt>
        <dd>
          <span>{{ ligneLivClient.livTotalPrixCl }}</span>
        </dd>
        <dt><span jhiTranslate="myCrMv1App.ligneLivClient.livraisonCl">Livraison Cl</span></dt>
        <dd>
          <div *ngIf="ligneLivClient.livraisonCl">
            <a [routerLink]="['/livraison-cl', ligneLivClient.livraisonCl?.id, 'view']">{{ ligneLivClient.livraisonCl?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ligne-liv-client', ligneLivClient.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
