<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-unite-article-heading"
        data-cy="UniteArticleCreateUpdateHeading"
        jhiTranslate="myCrMv1App.uniteArticle.home.createOrEditLabel"
      >
        Create or edit a Unite Article
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.uniteArticle.uniteCode" for="field_uniteCode">Unite Code</label>
          <input type="number" class="form-control" name="uniteCode" id="field_uniteCode" data-cy="uniteCode" formControlName="uniteCode" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.uniteArticle.uniteLibelle" for="field_uniteLibelle"
            >Unite Libelle</label
          >
          <input
            type="text"
            class="form-control"
            name="uniteLibelle"
            id="field_uniteLibelle"
            data-cy="uniteLibelle"
            formControlName="uniteLibelle"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="myCrMv1App.uniteArticle.uniteOption" for="field_uniteOption">Unite Option</label>
          <input
            type="text"
            class="form-control"
            name="uniteOption"
            id="field_uniteOption"
            data-cy="uniteOption"
            formControlName="uniteOption"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
